
backend/.vs/backend/config/applicationhost.config
backend/.vs/backend/DesignTimeBuild/.dtbcache.v2
backend/.vs/backend/FileContentIndex/14fc2865-5f57-4871-b9e1-3984cfac546f.vsidx
backend/.vs/backend/FileContentIndex/4a5c2aee-6d56-46e5-8b98-6ca92846aa3a.vsidx
backend/.vs/backend/FileContentIndex/a6ec779b-3064-46f9-b4c7-0a2f1f193b3a.vsidx
backend/.vs/backend/FileContentIndex/bc2dc74d-a7e9-4ddd-882a-29d056590d34.vsidx
backend/.vs/backend/FileContentIndex/d1587de8-229c-458c-8c2b-8d9c1fe07df2.vsidx
backend/.vs/backend/v17/.futdcache.v2
backend/.vs/backend/v17/.suo
backend/.vs/ProjectEvaluation/backend.metadata.v7.bin
backend/.vs/ProjectEvaluation/backend.projects.v7.bin
backend/backend/bin/Debug/net7.0/appsettings.Development.json
backend/backend/bin/Debug/net7.0/appsettings.json
backend/backend/bin/Debug/net7.0/AutoMapper.dll
backend/backend/bin/Debug/net7.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
backend/backend/bin/Debug/net7.0/backend.deps.json
backend/backend/bin/Debug/net7.0/backend.dll
backend/backend/bin/Debug/net7.0/backend.exe
backend/backend/bin/Debug/net7.0/backend.pdb
backend/backend/bin/Debug/net7.0/backend.runtimeconfig.json
backend/backend/bin/Debug/net7.0/Microsoft.AspNetCore.JsonPatch.dll
backend/backend/bin/Debug/net7.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
backend/backend/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
backend/backend/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
backend/backend/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
backend/backend/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.InMemory.dll
backend/backend/bin/Debug/net7.0/Microsoft.OpenApi.dll
backend/backend/bin/Debug/net7.0/Newtonsoft.Json.Bson.dll
backend/backend/bin/Debug/net7.0/Newtonsoft.Json.dll
backend/backend/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
backend/backend/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
backend/backend/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
backend/backend/obj/backend.csproj.nuget.dgspec.json
backend/backend/obj/backend.csproj.nuget.g.props
backend/backend/obj/backend.csproj.nuget.g.targets
backend/backend/obj/Container/ContainerDevelopmentMode.cache
backend/backend/obj/Container/ContainerId.cache
backend/backend/obj/Container/ContainerName.cache
backend/backend/obj/Container/ContainerRunContext.cache
backend/backend/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
backend/backend/obj/Debug/net7.0/apphost.exe
backend/backend/obj/Debug/net7.0/backend.AssemblyInfo.cs
backend/backend/obj/Debug/net7.0/backend.AssemblyInfoInputs.cache
backend/backend/obj/Debug/net7.0/backend.assets.cache
backend/backend/obj/Debug/net7.0/backend.csproj.AssemblyReference.cache
backend/backend/obj/Debug/net7.0/backend.csproj.BuildWithSkipAnalyzers
backend/backend/obj/Debug/net7.0/backend.csproj.CopyComplete
backend/backend/obj/Debug/net7.0/backend.csproj.CoreCompileInputs.cache
backend/backend/obj/Debug/net7.0/backend.csproj.FileListAbsolute.txt
backend/backend/obj/Debug/net7.0/backend.dll
backend/backend/obj/Debug/net7.0/backend.GeneratedMSBuildEditorConfig.editorconfig
backend/backend/obj/Debug/net7.0/backend.genruntimeconfig.cache
backend/backend/obj/Debug/net7.0/backend.GlobalUsings.g.cs
backend/backend/obj/Debug/net7.0/backend.MvcApplicationPartsAssemblyInfo.cache
backend/backend/obj/Debug/net7.0/backend.MvcApplicationPartsAssemblyInfo.cs
backend/backend/obj/Debug/net7.0/backend.pdb
backend/backend/obj/Debug/net7.0/ref/backend.dll
backend/backend/obj/Debug/net7.0/refint/backend.dll
backend/backend/obj/Debug/net7.0/staticwebassets.build.json
backend/backend/obj/Debug/net7.0/staticwebassets/msbuild.build.backend.props
backend/backend/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.backend.props
backend/backend/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.backend.props
backend/backend/obj/project.assets.json
backend/backend/obj/project.nuget.cache
backend/backend.Tests/bin/Debug/net7.0/backend.dll
backend/backend.Tests/bin/Debug/net7.0/backend.exe
backend/backend.Tests/bin/Debug/net7.0/backend.pdb
backend/backend.Tests/bin/Debug/net7.0/backend.runtimeconfig.json
backend/backend.Tests/bin/Debug/net7.0/backend.Tests.deps.json
backend/backend.Tests/bin/Debug/net7.0/backend.Tests.dll
backend/backend.Tests/bin/Debug/net7.0/backend.Tests.pdb
backend/backend.Tests/bin/Debug/net7.0/backend.Tests.runtimeconfig.json
backend/backend.Tests/bin/Debug/net7.0/Castle.Core.dll
backend/backend.Tests/bin/Debug/net7.0/CoverletSourceRootsMapping
backend/backend.Tests/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend/backend.Tests/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend/backend.Tests/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend/backend.Tests/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend/backend.Tests/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend/backend.Tests/bin/Debug/net7.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend/backend.Tests/bin/Debug/net7.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend/backend.Tests/bin/Debug/net7.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend/backend.Tests/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend/backend.Tests/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend/backend.Tests/bin/Debug/net7.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend/backend.Tests/bin/Debug/net7.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend/backend.Tests/bin/Debug/net7.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend/backend.Tests/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend/backend.Tests/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend/backend.Tests/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend/backend.Tests/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend/backend.Tests/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend/backend.Tests/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend/backend.Tests/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend/backend.Tests/bin/Debug/net7.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend/backend.Tests/bin/Debug/net7.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend/backend.Tests/bin/Debug/net7.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend/backend.Tests/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend/backend.Tests/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend/backend.Tests/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend/backend.Tests/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend/backend.Tests/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend/backend.Tests/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend/backend.Tests/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend/backend.Tests/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend/backend.Tests/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend/backend.Tests/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend/backend.Tests/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend/backend.Tests/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend/backend.Tests/bin/Debug/net7.0/Microsoft.AspNetCore.JsonPatch.dll
backend/backend.Tests/bin/Debug/net7.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
backend/backend.Tests/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
backend/backend.Tests/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
backend/backend.Tests/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
backend/backend.Tests/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.InMemory.dll
backend/backend.Tests/bin/Debug/net7.0/Microsoft.OpenApi.dll
backend/backend.Tests/bin/Debug/net7.0/Microsoft.TestPlatform.CommunicationUtilities.dll
backend/backend.Tests/bin/Debug/net7.0/Microsoft.TestPlatform.CoreUtilities.dll
backend/backend.Tests/bin/Debug/net7.0/Microsoft.TestPlatform.CrossPlatEngine.dll
backend/backend.Tests/bin/Debug/net7.0/Microsoft.TestPlatform.PlatformAbstractions.dll
backend/backend.Tests/bin/Debug/net7.0/Microsoft.TestPlatform.Utilities.dll
backend/backend.Tests/bin/Debug/net7.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
backend/backend.Tests/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.Common.dll
backend/backend.Tests/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
backend/backend.Tests/bin/Debug/net7.0/Moq.dll
backend/backend.Tests/bin/Debug/net7.0/Moq.EntityFrameworkCore.dll
backend/backend.Tests/bin/Debug/net7.0/Newtonsoft.Json.Bson.dll
backend/backend.Tests/bin/Debug/net7.0/Newtonsoft.Json.dll
backend/backend.Tests/bin/Debug/net7.0/NuGet.Frameworks.dll
backend/backend.Tests/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend/backend.Tests/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend/backend.Tests/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend/backend.Tests/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend/backend.Tests/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend/backend.Tests/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend/backend.Tests/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend/backend.Tests/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend/backend.Tests/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend/backend.Tests/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend/backend.Tests/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend/backend.Tests/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend/backend.Tests/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend/backend.Tests/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend/backend.Tests/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend/backend.Tests/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
backend/backend.Tests/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
backend/backend.Tests/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
backend/backend.Tests/bin/Debug/net7.0/testhost.dll
backend/backend.Tests/bin/Debug/net7.0/testhost.exe
backend/backend.Tests/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend/backend.Tests/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend/backend.Tests/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend/backend.Tests/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend/backend.Tests/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend/backend.Tests/bin/Debug/net7.0/xunit.abstractions.dll
backend/backend.Tests/bin/Debug/net7.0/xunit.assert.dll
backend/backend.Tests/bin/Debug/net7.0/xunit.core.dll
backend/backend.Tests/bin/Debug/net7.0/xunit.execution.dotnet.dll
backend/backend.Tests/bin/Debug/net7.0/xunit.runner.reporters.netcoreapp10.dll
backend/backend.Tests/bin/Debug/net7.0/xunit.runner.utility.netcoreapp10.dll
backend/backend.Tests/bin/Debug/net7.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
backend/backend.Tests/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend/backend.Tests/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend/backend.Tests/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend/backend.Tests/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend/backend.Tests/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend/backend.Tests/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend/backend.Tests/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend/backend.Tests/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend/backend.Tests/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend/backend.Tests/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend/backend.Tests/obj/Debug/net7.0/backend.Tests.AssemblyInfo.cs
backend/backend.Tests/obj/Debug/net7.0/backend.Tests.AssemblyInfoInputs.cache
backend/backend.Tests/obj/Debug/net7.0/backend.Tests.assets.cache
backend/backend.Tests/obj/Debug/net7.0/backend.Tests.csproj.AssemblyReference.cache
backend/backend.Tests/obj/Debug/net7.0/backend.Tests.csproj.BuildWithSkipAnalyzers
backend/backend.Tests/obj/Debug/net7.0/backend.Tests.csproj.CopyComplete
backend/backend.Tests/obj/Debug/net7.0/backend.Tests.csproj.CoreCompileInputs.cache
backend/backend.Tests/obj/Debug/net7.0/backend.Tests.csproj.FileListAbsolute.txt
backend/backend.Tests/obj/Debug/net7.0/backend.Tests.dll
backend/backend.Tests/obj/Debug/net7.0/backend.Tests.GeneratedMSBuildEditorConfig.editorconfig
backend/backend.Tests/obj/Debug/net7.0/backend.Tests.genruntimeconfig.cache
backend/backend.Tests/obj/Debug/net7.0/backend.Tests.GlobalUsings.g.cs
backend/backend.Tests/obj/Debug/net7.0/backend.Tests.pdb
backend/backend.Tests/obj/Debug/net7.0/ref/backend.Tests.dll
backend/backend.Tests/obj/Debug/net7.0/refint/backend.Tests.dll
backend/backend.Tests/obj/project.assets.json
backend/backend.Tests/obj/project.nuget.cache
backend/.vs/backend/FileContentIndex/1dc3300a-d0e5-4934-abcc-786a6ccddb79.vsidx
backend/.vs/backend/FileContentIndex/34c3b4ca-484f-4d1c-a5a7-b221ce086530.vsidx
backend/.vs/backend/FileContentIndex/6f1615a6-5da7-444a-bcc4-b29f621e2f07.vsidx
backend/.vs/backend/FileContentIndex/d1f48f24-3e50-4785-8da3-ce94112e15da.vsidx
backend/.vs/backend/v17/TestStore/0/004.testlog
backend/.vs/backend/v17/TestStore/0/testlog.manifest
backend/backend.Tests/bin/Debug/net7.0/appsettings.Development.json
backend/backend.Tests/bin/Debug/net7.0/appsettings.json
backend/backend.Tests/bin/Debug/net7.0/AutoMapper.dll
backend/backend.Tests/bin/Debug/net7.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
backend/backend.Tests/bin/Debug/net7.0/backend.deps.json
backend/backend.Tests/obj/backend.Tests.csproj.nuget.dgspec.json
backend/backend.Tests/obj/backend.Tests.csproj.nuget.g.props
backend/backend.Tests/obj/backend.Tests.csproj.nuget.g.targets
backend/backend.Tests/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
backend/backend/bin/Debug/net7.0/Moq.dll
backend/backend/bin/Debug/net7.0/Moq.EntityFrameworkCore.dll
backend/.vs/backend/FileContentIndex/caca2ed9-1568-433f-a5d1-2a11226d79dc.vsidx
backend/.vs/backend/FileContentIndex/c60c1d59-cb34-4f40-9cb9-055d0f08bd7e.vsidx
backend/.vs/backend/FileContentIndex/c52ea18a-3f20-438a-9583-d72126eafec9.vsidx
backend/.vs/backend/FileContentIndex/891c5e3a-261f-49c8-a4de-6edb124cdf1c.vsidx
backend/.vs/backend/FileContentIndex/8111010d-077e-44f3-8ee7-4d21fa0d1b11.vsidx
