
backend/.vs/backend/config/applicationhost.config
backend/.vs/backend/DesignTimeBuild/.dtbcache.v2
backend/.vs/backend/FileContentIndex/14fc2865-5f57-4871-b9e1-3984cfac546f.vsidx
backend/.vs/backend/FileContentIndex/4a5c2aee-6d56-46e5-8b98-6ca92846aa3a.vsidx
backend/.vs/backend/FileContentIndex/a6ec779b-3064-46f9-b4c7-0a2f1f193b3a.vsidx
backend/.vs/backend/FileContentIndex/bc2dc74d-a7e9-4ddd-882a-29d056590d34.vsidx
backend/.vs/backend/FileContentIndex/d1587de8-229c-458c-8c2b-8d9c1fe07df2.vsidx
backend/.vs/backend/v17/.futdcache.v2
backend/.vs/backend/v17/.suo
backend/.vs/ProjectEvaluation/backend.metadata.v7.bin
backend/.vs/ProjectEvaluation/backend.projects.v7.bin
backend/backend/bin/Debug/net7.0/appsettings.Development.json
backend/backend/bin/Debug/net7.0/appsettings.json
backend/backend/bin/Debug/net7.0/AutoMapper.dll
backend/backend/bin/Debug/net7.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
backend/backend/bin/Debug/net7.0/backend.deps.json
backend/backend/bin/Debug/net7.0/backend.dll
backend/backend/bin/Debug/net7.0/backend.exe
backend/backend/bin/Debug/net7.0/backend.pdb
backend/backend/bin/Debug/net7.0/backend.runtimeconfig.json
backend/backend/bin/Debug/net7.0/Microsoft.AspNetCore.JsonPatch.dll
backend/backend/bin/Debug/net7.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
backend/backend/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
backend/backend/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
backend/backend/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
backend/backend/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.InMemory.dll
backend/backend/bin/Debug/net7.0/Microsoft.OpenApi.dll
backend/backend/bin/Debug/net7.0/Newtonsoft.Json.Bson.dll
backend/backend/bin/Debug/net7.0/Newtonsoft.Json.dll
backend/backend/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
backend/backend/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
backend/backend/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
backend/backend/obj/backend.csproj.nuget.dgspec.json
backend/backend/obj/backend.csproj.nuget.g.props
backend/backend/obj/backend.csproj.nuget.g.targets
backend/backend/obj/Container/ContainerDevelopmentMode.cache
backend/backend/obj/Container/ContainerId.cache
backend/backend/obj/Container/ContainerName.cache
backend/backend/obj/Container/ContainerRunContext.cache
backend/backend/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
backend/backend/obj/Debug/net7.0/apphost.exe
backend/backend/obj/Debug/net7.0/backend.AssemblyInfo.cs
backend/backend/obj/Debug/net7.0/backend.AssemblyInfoInputs.cache
backend/backend/obj/Debug/net7.0/backend.assets.cache
backend/backend/obj/Debug/net7.0/backend.csproj.AssemblyReference.cache
backend/backend/obj/Debug/net7.0/backend.csproj.BuildWithSkipAnalyzers
backend/backend/obj/Debug/net7.0/backend.csproj.CopyComplete
backend/backend/obj/Debug/net7.0/backend.csproj.CoreCompileInputs.cache
backend/backend/obj/Debug/net7.0/backend.csproj.FileListAbsolute.txt
backend/backend/obj/Debug/net7.0/backend.dll
backend/backend/obj/Debug/net7.0/backend.GeneratedMSBuildEditorConfig.editorconfig
backend/backend/obj/Debug/net7.0/backend.genruntimeconfig.cache
backend/backend/obj/Debug/net7.0/backend.GlobalUsings.g.cs
backend/backend/obj/Debug/net7.0/backend.MvcApplicationPartsAssemblyInfo.cache
backend/backend/obj/Debug/net7.0/backend.MvcApplicationPartsAssemblyInfo.cs
backend/backend/obj/Debug/net7.0/backend.pdb
backend/backend/obj/Debug/net7.0/ref/backend.dll
backend/backend/obj/Debug/net7.0/refint/backend.dll
backend/backend/obj/Debug/net7.0/staticwebassets.build.json
backend/backend/obj/Debug/net7.0/staticwebassets/msbuild.build.backend.props
backend/backend/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.backend.props
backend/backend/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.backend.props
backend/backend/obj/project.assets.json
backend/backend/obj/project.nuget.cache
